rules_version = '2';

// kisei-note: このアプリはログイン機能を持たないため、匿名で読み書きできるようにしています。
// (二重投票/二重いいねの防止はクライアント側の localStorage で行う簡易実装です)
service cloud.firestore {
  match /databases/{database}/documents {
    match /places/{placeId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;

      match /charms/{charmId} {
        allow read: if true;
        allow create: if true;
        allow update: if true;
      }
    }
  }
}
